{% include "header.html" %}
<script type="module">
	import { make_table_sortable } from "/static/main.js";
	import { make_grade_hypothesized } from "/static/main.js";
	let $tableElement = $("#sortableTable");
	make_table_sortable($tableElement);
	make_grade_hypothesized($tableElement);
</script>

<main>
	<hgroup>
		<h1>Your Grades</h1>
	</hgroup>
	
	<div class="action">
		<p>Currently logged in as {{ user.username }}. <a href="{% url 'logout' %}" title="Log Out"><button>Log Out</button></a></p>
	</div>

	<table id="sortableTable">
		<thead>
			<tr>
				<th>Assignment</th>
				<th class="sortable">Graded</th>
			</tr>
		</thead>
		<tbody>
		{% for assignment_info in assignment_info_list %}
			<tr data-index="{{ forloop.counter }}">
				<td><a href="{% url 'assignment_id' assignment_info.assignment.id %}">{{ assignment_info.assignment.title }}</a></td>
				{% if is_admin %}
				<td class="numbers">{{ assignment_info.number_of_submissions }}</td>
				{% else %}
				<td class="numbers" data-value="{{ assignment_info.status }}">{{ assignment_info.status }}</td>
				{% endif %}
			</tr>
			{% endfor %}
			
		{% if assignment_info_list.0.user_type == 'Student' %}
		<tfoot>
			<tr>
				<td><strong>Final Grade</strong></td>
				<td class="numbers" id="final-grade"><strong>{{ assignment_info_list.0.final_grade }}%</strong></td>
			</tr>
		</tfoot>
		{% endif %} 
	</table>
</main>
